 <h1><%= @store.name %> Info</h1>
  <%= link_to "New Info", new_info_path(:store_id => @store.id), { :class => "button waves-effect waves-light btn" } %>
  <br><br>

  <div class="row">
    <% @infos.each do |info| %>

        <div class="card-panel grey lighten-2 col s4" style="margin: 10px">
          <%= image_tag(info.img, size: "100x100", alt: "Artist Image") %>
          <br>
          <em><%= info.price %></em>
          <em><%= info.description %></em>


<%= link_to "New info", new_info_path(:store_id => @store.id), { :class => "button waves-effect waves-light btn" } %>
        </div>
    <% end %>
  </div>